<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beaconsmarthome">

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeaconSmarthome">
        <activity android:name="SplashPageActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeScreenActivity" />
        <activity android:name=".AddFirstDeviceActivity" />
        <activity android:name=".DeviceScanListActivity" />
        <activity android:name=".QRScanActivity" />
        <activity android:name=".ConfirmDeviceActivity" />
        <activity android:name=".DeviceConnectedActivity" />
        <activity android:name=".WelcomeBackActivity" />
    </application>

</manifest>